In [1]:
import pandas as pd

In [2]:
from matplotlib import pyplot as plt

In [3]:
data = pd.read_csv("Proyecto-normal.csv")

In [4]:
data

         País        Año     %
0    Honduras  2000-2002  21.9
1    Honduras  2001-2003  21.2
2    Honduras  2002-2004  21.7
3    Honduras  2003-2005  22.2
4    Honduras  2004-2006  22.3
..        ...        ...   ...
95  Nicaragua  2015-2017  18.0
96  Nicaragua  2016-2018  17.2
97  Nicaragua  2017-2019  17.4
98  Nicaragua  2018-2020  17.5
99  Nicaragua  2019-2021  18.6

[100 rows x 3 columns]

AttributeError: 'DataFrame' object has no attribute 'column_Año'

         País        Año     %
0    Honduras  2000-2002  21.9
1    Honduras  2001-2003  21.2
2    Honduras  2002-2004  21.7
3    Honduras  2003-2005  22.2
4    Honduras  2004-2006  22.3
..        ...        ...   ...
95  Nicaragua  2015-2017  18.0
96  Nicaragua  2016-2018  17.2
97  Nicaragua  2017-2019  17.4
98  Nicaragua  2018-2020  17.5
99  Nicaragua  2019-2021  18.6

[100 rows x 3 columns]

In [10]:
type(Proyecto)

pandas.core.frame.DataFrame

AttributeError: 'DataFrame' object has no attribute 'column_Año'